<!DOCTYPE html>
<html>
<head>
    <title>Lo-Fi Party - Landing</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div id="landing-page">
        <h1>Welcome to Lo-Fi Party</h1>
        <div id="create-join-container">
            <button id="create-room-button">Create a Room</button> OR
            <div id="join-room-container">
                <input id="join-room-input" type="text" placeholder="Enter Room Code">
                <button id="join-room-button">Join</button>
            </div>
        </div>
    </div>
    <script src="/landing.js"></script>
</body>
</html>
